@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #f5f7fa;
}

@keyframes scroll-y {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.animate-scroll-y {
  animation: scroll-y 20s linear infinite;
}

.animate-scroll-y:hover {
  animation-play-state: paused;
}
